{% extends 'index.html' %}
{%block tit%}
Borrowed Books
{%endblock%}
{%block head%}
<h2 style="color:whitesmoke">
    Borrowed Books
</h2>
{%endblock%}

{%block content%}
<div class="row">
    <div style="color: {{ color }}">
        {{ msg }}
    </div>
    {%for b in books%}
    <div class="col-sm-6 col-md-4 ">
        <div class="box ">
            <div class="img-box">
                <img src="/static/assets/images/{{ b.photoName }}">
            </div>
            <div class="detail-box">
                <h5 style="color:whitesmoke">
                    {{ b.name }}
                </h5>
                <p style="color:whitesmoke">
                    {{ b.description }}
                </p>
                <p style="color: rgb(255, 255, 255)">
                    Return Time:<br>{{ b.returnTime }}
                </p>
                {% if  not request.session.is_admin %}
                <button type="button" class="btn"><a style="color: white"
                 href="{%url 'returnback' b.id %}">Return to Shelf</a></button>
                {%endif%}
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}